doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/materialize.min.css')
		link(rel='stylesheet', href='/stylesheets/style-produtoclicado.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/script.js')
	body
		include includes/layouts/navbar
		include includes/layouts/menu
		.container.one
			.row
				h3 Sua encomenda foi realizada com sucesso! Confira os dados abaixo e selecione a alternativa desejada:
				h4 Informações do pedido:
				table.table.table-responsive.table-hover
					thead
						tr#informe
							th Codigo do pedido
							th Nome Cliente
							th Email
							th Produto
							th Quantidade
					tbody#compras
						tr
							th=""+params.id
							th=""+params.nomeCliente
							th=""+params.email
							th=""+params.produto
							th=""+params.quantidade
