extends layout

block content
	h1= title
	p Welcome to #{title}
	h2 testando isso ai
	div.form-group
		label.col-sm-4 First Name
		div.col-sm-8
		input.form-control(
		placeholder='Your first name',
		required=true,
		name='givenName',
		type='text',
		value=givenName)
