doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/materialize.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/materialize.min.js')
		script(type='text/javascript', src='/javascripts/maskMoney.js')
		script(src='/javascripts/script.js')
	body
		include includes/layouts/navbar
		include includes/layouts/menu
		.container.one
			.row
				.col-md-12 
					h2.titleproduct=produto.nome			
			.row
				.col-md-6
					.figureproduct
						img.productselect(src= "../images/"+produto.imag+".jpg" alt=""+produto.nome)
				.col-md-6.descript
					h4.valorproduto="R$ "+valor
					p.valorproduto=" cada "+produto.peso
					.row
						.col-md-2.iconesdecompra
							i.fa.fa-credit-card.Icon.fa-3x.iconesdecartao(aria-hidden='true')
							i.fa.fa-truck.Icon.fa-3x.iconesdeentrega(aria-hidden="true")
							i.fa.fa-calendar.Icon.fa-3x(aria-hidden="true")
						.col-md-1
							div.linha-vertical
							div.linha-vertical.baixo
							div.linha-vertical.baixo
						.col-md-8
							p="2x de R$"+parcela+" com "
								i.fa.fa-cc-paypal.Icon.fa-2x.cartao(aria-hidden="true")
								i.fa.fa-cc-mastercard.Icon.fa-2x.cartao(aria-hidden="true")
								i.fa.fa-cc-visa.Icon.fa-2x.cartao(aria-hidden="true")
							p.entrega Entrega em todo Vale dos Sinos
								p com frete gratuito nas compras acima de R$ 20,00
							p.encomendas Encomendas com datas programáveis 
								p no prazo minimo de 14 dias a partir da confirmação do pagamento
					.row
						.col-md-12
							div.itensdecompra
								a.waves-effect.waves-light.btn.btn-compra(href="http://localhost:5000/fimdacompra") Comprar Agora
								p ou marcar como favorito:
								i.fa.fa-heart-o.Icon.fa-4x.coredoproduto(aria-hidden='true' data-id=produto.id)
			.row.descript-final
				.col-md-1
					div.linha-vertical-descript
				.col-md-11

					h5 Descrição do produto:
					p=produto.descrição
					p=produto.valor+"a cada "+produto.peso
					p=produto.disponibilidade+" com frete gratuito em todo Vale dos Sinos nas compras acima de R$ 20,00."
					p="Possibilidade de escolha na data de entrega"+":"
					<input type="date" class="datepicker">


	

